// Flexbox
@mixin flexPosition($justCont: center, $alignItem: center) {
  display: flex;
  justify-content: $justCont;
  align-items: $alignItem;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin rotate($deg) {
  @include transform(rotate(#{deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin headingStyle($size, $weight, $color, $stroke) {
  font-size: size($size);
  font-weight: $weight;
  color: #fff;
  -webkit-text-stroke: $stroke $color;
}

@mixin btnStyle() {
  padding: 1rem 2rem;
}

// Responsive breakpoints
@mixin responsive($breakpoint) {
  @if ($breakpoint == xl) {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 1000px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 775px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 670px) {
      @content;
    }
  }

  @if ($breakpoint == xs) {
    @media (max-width: 460px) {
      @content;
    }
  }
}
