@import '/styles/base/base';

.mainBtn {
  width: 140px;
  height: 40px;
  font-size: size(xs);
  border: 0;
  background-color: black;
  position: relative;
  font-family: $font-tomorrow;
  font-weight: 600;
  text-transform: uppercase;
  color: color(indigo-blue);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  cursor: pointer;

  @include responsive(sm) {
    width: 200px;
    height: 52px;
  }
  @include responsive(md) {
    width: 230px;
    height: 60px;
  }

  .content {
    @include flexPosition($justCont: center, $alignItem: center);
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: color(strong-pink);
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }

  .secondaryContent {
    background-color: color(light-blue);
  }

  // reference: https://codepen.io/kevinpowell/pen/YzqerQm
  .glitch {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color(strong-pink);
    filter: drop-shadow(-2px 3px color(strong-pink))
      drop-shadow(-1px -3px color(strong-pink))
      drop-shadow(2px 1px color(strong-pink));
  }

  .secondaryGlitch {
    background-color: color(light-blue);
    filter: drop-shadow(-2px 3px color(light-blue))
      drop-shadow(-1px -3px color(light-blue))
      drop-shadow(2px 1px color(light-blue));
  }

  &:hover .glitch,
  &:focus .glitch,
  &:hover .secondaryGlitch,
  &:focus .secondaryGlitch {
    display: block;
    animation: glitch-animation 2s linear infinite;
  }
}

@keyframes glitch-animation {
  0% {
    opacity: 1;
    @include transform(translateZ(0));
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    @include transform(translateZ(-5px));
  }

  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    @include transform(translate(5px));
  }

  8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    @include transform(translate(-5px));
  }

  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    @include transform(translate(0));
  }

  10% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    @include transform(translate3d(5px, 0, 0));
  }

  13% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    @include transform(translateZ(0));
  }

  13.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    @include transform(translate3d(5px, 0, 0));
  }

  15% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    @include transform(translate3d(5px, 0, 0));
  }

  20% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    @include transform(translate3d(-5px, 0, 0));
  }

  20.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    @include transform(translate3d(5px, 0, 0));
  }

  25% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    @include transform(translate3d(5px, 0, 0));
  }

  30% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    @include transform(translate3d(-5px, 0, 0));
  }

  30.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    @include transform(translate(-5px));
  }

  40% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    @include transform(translate(5px));
  }

  45% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    @include transform(translate(-5px));
  }

  50% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    @include transform(translate(0));
  }

  55% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    @include transform(translate3d(5px, 0, 0));
  }

  60% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    @include transform(translateZ(0));
    opacity: 1;
  }

  60.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}
