@import '/styles/base/base';

.form {
  @include flexPosition($justCont: space-around, $alignItem: center);
  flex-direction: column;
  height: 100%;

  @include responsive(lg) {
    @include flexPosition($justCont: space-around, $alignItem: flex-end);
  }

  .inputStyle {
    width: 80%;
    padding: 0.8rem 1rem;
    margin: 0.5rem;
    background-color: color(indigo-blue);
    color: color(strong-pink);
    border: 0.6px solid color(weak-pink);
    border-radius: 3px;
    font-size: size(sm);
    outline: none;
    font-family: inherit;
    transition: transform 0.5s;

    &:focus {
      border: 0.6px solid color(strong-pink);
      transform: scale(1.01);
    }

    &::placeholder {
      color: color(white);
      opacity: 0.8;
      font-weight: 300;
    }
  }

  .text {
    width: 80%;
    max-height: 280px;
    resize: none;
  }
}

.submitBtn {
  width: 80%;

  @include flexPosition(flex-end, center);
}
