@import '/styles/base/base';

.title {
  font-size: size(xl);
  color: #ffffff;
  text-shadow: -5px 5px 0px color(strong-pink), -10px 10px 0px color(light-blue);
  text-transform: uppercase;
  padding: 0.8rem 1rem 1.4rem 1rem;
  // animation: titleAnimation 2s;
  animation: logoAnimation 3s;
}

@keyframes logoAnimation {
  0% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(1px);
  }

  10% {
    transform: translateX(-1px);
  }

  15% {
    transform: translateX(1px);
  }

  20% {
    transform: translateX(-1px);
  }

  25% {
    transform: translateX(1px);
  }

  30% {
    transform: translateX(-1px);
  }

  35% {
    transform: translateX(1px);
  }

  40% {
    transform: translateX(-1px);
  }

  45% {
    transform: translateX(1px);
  }

  50% {
    transform: translateX(-1px);
  }

  55% {
    transform: translateX(1px);
  }

  60% {
    transform: translateX(1px);
  }

  65% {
    transform: translateX(1px);
  }

  70% {
    transform: translateX(-1px);
  }

  75% {
    transform: translateX(1px);
  }

  80% {
    transform: translateX(-1px);
  }

  85% {
    transform: translateX(1px);
  }

  90% {
    transform: translateX(-1px);
  }

  95% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0px);
  }
}
