@import '/styles/base/base';

.headerItem {
  font-size: size(xl);
  font-family: $font-tomorrow;
  //   color: lightslategray;
  letter-spacing: 3px;
  opacity: 0.6;
  font-weight: 300;
  margin: 1rem;
  position: relative;
  @include transition(transform 0.9s ease);

  &:after {
    content: '';
    width: 10px;
    height: 4px;
    background-color: color(strong-pink);
    position: absolute;
    opacity: 0;
    top: 50%;
    right: -100px;
    @include transform-origin(right);
    @include transition(transform 0.9s ease);
  }

  &:hover {
    cursor: pointer;
    @include transform(translateX(-120px));
  }

  a {
    color: color(weak-pink);
    @include transition(color 0.9s ease);
  }

  &:hover a {
    font-weight: 400;
    color: color(strong-pink);
  }
  &:hover:after {
    @include transform(scaleX(10));
    opacity: 1;
  }
}
