@import '/styles/base/base';

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 30;
  width: 60px;
  height: 60px;
  &:hover {
    @include shakeAnimation(2s);
  }

  @include responsive(xs) {
    width: 50px;
    height: 50px;
  }
  @include responsive(xl) {
    width: 100px;
    height: 100px;
  }
}
