@import '/styles/base/base';

.logo {
  position: absolute;
  top: 30px;
  left: 60px;
  cursor: pointer;
  z-index: 30;

  &:hover {
    animation: logoAnimation 2s;
    // transform: rotate(45deg);
  }
}
