@import '/styles/base/base';

.navStyles {
  width: fit-content;
  height: min-content;
  border: 1px solid color(weak-pink);
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  z-index: 50;

  & > ul {
    list-style-type: none;

    @include responsive(xs) {
      @include flexPosition(space-around, center);
    }

    & > li {
      @include responsive(xs) {
        display: inline-block;
      }
    }
  }
}

.navItem {
  @include flexPosition(center, center);
  flex-direction: column;
  margin: 2px 1px;

  & > span {
    display: inline-block;
  }

  &:hover .navIconStyle,
  &:focus .navIconStyle {
    color: color(strong-pink);
    font-size: size(md) * 1.2;

    @include responsive(sm) {
      font-size: size(xl) * 1.2;
    }
    @include responsive(xl) {
      font-size: size(xl) * 2;
    }
  }

  &:hover .iconName {
    font-size: size(sm);
  }

  .navIconStyle {
    padding: 2px;
    font-size: size(md);
    @include transition(all 0.2s);
    color: color(weak-pink);

    @include responsive(sm) {
      font-size: size(xl);
    }

    @include responsive(xl) {
      font-size: size(xl) * 1.2;
    }
  }

  .iconName {
    font-size: size(xs);
    color: color(strong-pink);
    text-transform: uppercase;
    font-weight: 600;
    padding: 1px 0;
    display: none;
    @include responsive(sm) {
      display: block;
    }
  }
}
