@import '/styles/base/base';

.pagination {
  font-size: size(sm) * 1.2;
  display: inline-block;
  padding: 1rem 2rem;

  //   position: relative;
  //   position: absolute;
  //   bottom: 4rem;
  //   right: 4rem;
  //   color: color(strong-pink);
  text-transform: uppercase;
  opacity: 0.6;
  cursor: pointer;
  //   @include transition(transform 1s);

  //   &:before {
  //     content: '';
  //     position: absolute;
  //     top: 50%;
  //     left: -60%;
  //     width: 160px;
  //     height: 1px;
  //     background-color: color(strong-pink);
  //   }

  &:hover {
    @include transform(scale(1.1));
    opacity: 1;
  }
}

.nextPagination {
  position: relative;
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  @include transition(transform 1s);
  color: color(strong-pink);

  @include responsive(xl) {
    bottom: 2rem;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -200px;
    width: 160px;
    height: 1px;
    background-color: color(strong-pink);

    @include responsive(lg) {
      visibility: hidden;
    }
  }
}

.backPagination {
  position: relative;
  position: absolute;
  bottom: 3rem;
  left: 4rem;
  @include transition(transform 1s);
  color: color(light-blue);

  @include responsive(xl) {
    bottom: 2rem;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: -200px;
    width: 160px;
    height: 1px;
    background-color: color(light-blue);

    @include responsive(lg) {
      visibility: hidden;
    }
  }
}
