@import '/styles/base/base';

.project {
  // width: 420px;
  width: 30%;
  height: 14em;
  // height: 275px;
  margin: 3px;
  position: relative;

  @include responsive(xs) {
    width: 95%;
    margin: 6px auto;
  }
  @include responsive(sm) {
    width: 95%;
    margin: 6px auto;
  }
  @include responsive(md) {
    width: 45%;
    margin: 6px auto;
  }
  @include responsive(lg) {
    width: 33%;
    margin: 6px auto;
  }

  &:hover .back {
    opacity: 1;
  }

  &:hover .overview {
    transform: scale(1.02);
  }

  .back {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .overview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    opacity: 0.8;
    padding: 1rem;
    @include flexPosition($justCont: center, $alignItem: flex-start);
    flex-direction: column;
    z-index: 10;
    transition: transform 0.3s;

    .name {
      font-size: size(md);
      font-size: 1.8rem;
      color: color(indigo-blue);
      padding: 0.8rem 0;

      // @include responsive(xl) {
      //   font-size: size(sm) * 1.4;
      // }
    }

    .techs {
      width: 90%;
      @include flexPosition($justCont: flex-start, $alignItem: flex-start);
      flex-wrap: wrap;

      .tech {
        background-color: color(strong-pink);
        padding: 0.2rem 0.4rem;
        color: color(white);
        border-radius: 3px;
        margin: 0 0.2rem;

        @include responsive(xl) {
          font-size: size(xs);
        }
      }
    }
  }
}

.app {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid color(light-blue);
  color: color(light-blue);
  border-radius: 3px;
}

.button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.btn {
  padding: 0.8rem;
  letter-spacing: 0.1;
  background-color: color(light-blue);
  font-size: size(sm);
  transition: transform 0.2s;

  &:hover {
    transform: scale(0.98);
  }

  @include responsive(xl) {
    font-size: size(xs);
  }
}
