@import '/styles/base/base';

.topContainer {
  padding: 10px;
  width: 90vw;
  position: absolute;
  top: 30%;
  left: 5%;

  .role {
    font-family: $font-tomorrow;
    font-size: size(sm) * 1.5;
    padding: 1rem 0;
    font-weight: 100;
    color: color(weak-pink);

    @include responsive(sm) {
      font-size: size(lg);
      padding: 1rem 0 2rem 0;
      font-weight: 300;
    }
    @include responsive(xl) {
      font-size: size(xl);
    }
  }

  @include responsive(xs) {
    @include flexPosition(center, center);
    flex-direction: column;
  }
  @include responsive(xl) {
    width: 80vw;
  }
}

.glitch {
  font-size: size(lg) * 1.2;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(241, 0, 245, 0.75),
    -0.025em -0.05em 0 rgba(255, 145, 26, 0.75),
    0.025em 0.05em 0 rgba(69, 14, 255, 0.75);

  // animation: glitch 500ms infinite;

  @include responsive(sm) {
    font-size: size(xl) * 1.2;
  }
  @include responsive(md) {
    font-size: size(xl) * 2;
  }
  @include responsive(xl) {
    font-size: size(xl) * 3;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;

    &:first-child {
      // animation: glitch 650ms infinite;
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
      transform: translate(-0.025em, -0.0125em);
      /* color: green; */
      opacity: 0.8;
    }

    &:last-child {
      // animation: glitch 375ms infinite;
      clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
      transform: translate(0.0125em, 0.025em);
      /* color: red; */
      opacity: 0.8;
    }
  }
}

.animate {
  animation: glitch 500ms infinite;

  span {
    &:first-child {
      animation: glitch 650ms infinite;
    }
    &:last-child {
      animation: glitch 375ms infinite;
    }
  }
}

// .pause {

// }

// .pause {
//   font-size: size(xl) * 2;
//   font-weight: 600;
//   text-transform: uppercase;
//   position: relative;

//   text-shadow: 0.05em 0 0 rgba(241, 0, 245, 0.75),
//     -0.025em -0.05em 0 rgba(255, 145, 26, 0.75),
//     0.025em 0.05em 0 rgba(69, 14, 255, 0.75);

//   span {
//     position: absolute;
//     top: 0;
//     left: 0;

//     &:first-child {
//       clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
//       transform: translate(-0.025em, -0.0125em);
//       /* color: green; */
//       opacity: 0.8;
//     }

//     &:last-child {
//       clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
//       transform: translate(0.0125em, 0.025em);
//       /* color: red; */
//       opacity: 0.8;
//     }
//   }
// }

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(241, 0, 245, 0.75),
      -0.05em -0.025em 0 rgba(255, 145, 26, 0.75),
      -0.025em 0.05em 0 rgba(69, 14, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(241, 0, 245, 0.75),
      -0.05em -0.025em 0 rgba(255, 145, 26, 0.75),
      -0.025em 0.05em 0 rgba(69, 14, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(241, 0, 245, 0.75),
      0.025em 0.025em 0 rgba(255, 145, 26, 0.75),
      -0.05em -0.05em 0 rgba(69, 14, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(241, 0, 245, 0.75),
      0.025em 0.025em 0 rgba(255, 145, 26, 0.75),
      -0.05em -0.05em 0 rgba(69, 14, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(241, 0, 245, 0.75),
      0.05em 0 0 rgba(255, 145, 26, 0.75), 0 -0.05em 0 rgba(69, 14, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(241, 0, 245, 0.75),
      0.05em 0 0 rgba(255, 145, 26, 0.75), 0 -0.05em 0 rgba(69, 14, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(241, 0, 245, 0.75),
      -0.025em -0.025em 0 rgba(255, 145, 26, 0.75),
      -0.025em -0.05em 0 rgba(69, 14, 255, 0.75);
  }
}
