@import '/styles/base/base';

.border {
  padding: 1rem;
  width: 85%;
  border: 1px solid color(weak-pink);
  height: fit-content;
  margin: 60px auto;

  @include responsive(xs) {
    margin-top: 80px;
    padding: 0.4rem;
  }
  @include responsive(sm) {
    width: 70%;
  }
  @include responsive(md) {
    width: 80%;
  }

  .introContainer {
    @include flexPosition($justCont: space-around, $alignItem: center);

    @include responsive(xs) {
      flex-direction: column;
    }
    @include responsive(sm) {
      flex-direction: column;
    }
    @include responsive(md) {
      flex-direction: row;
    }
  }

  .imgContainer {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;

    @include responsive(xs) {
      width: 120px;
      height: 120px;
    }

    @include responsive(sm) {
      width: 140px;
      height: 140px;
    }

    @include responsive(md) {
      width: 160px;
      height: 160px;
    }

    @include responsive(lg) {
      width: 200px;
      height: 200px;
    }

    @include responsive(xl) {
      width: 220px;
      height: 220px;
    }
  }

  .introRight {
    width: 60%;
    @include responsive(xs) {
      width: 90%;
    }
    @include responsive(sm) {
      width: 90%;
    }
    @include responsive(md) {
      width: 60%;
    }
  }

  .intro {
    font-family: $font-tomorrow;
    font-size: size(sm) * 1.1;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-weight: 200;
    margin-bottom: 1rem;
    transform: translateY(-30px);
    animation: introAnimation 1s forwards;

    @include responsive(xs) {
      font-size: size(sm) * 0.8;
      line-height: 1.4;
      padding: 0.8rem 0;
    }
    @include responsive(sm) {
      font-size: size(sm) * 0.9;
      line-height: 1.4;
      padding: 0.8rem 0;
    }
    @include responsive(md) {
      font-size: size(sm) * 1.1;
      line-height: 1.4;
      padding: 0.8rem 0;
    }
    @include responsive(lg) {
      font-size: size(sm) * 1.2;
    }
    @include responsive(xl) {
      font-size: size(sm) * 1.8;
    }
  }
  .skillContainer {
    @include flexPosition($justCont: center, $alignItem: center);
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    height: 50%;

    @include responsive(xs) {
      width: 100%;
      height: fit-content;
    }
    @include responsive(sm) {
      width: 100%;
    }

    @include responsive(md) {
      width: 90%;
    }
  }

  .iconContainer {
    font-size: 3.2rem;
    color: color(strong-pink);
    margin: 1.4rem 1.2rem 0.5rem 1.2rem;

    @include responsive(xs) {
      font-size: 1.6rem;
    }
    @include responsive(sm) {
      font-size: 1.6rem;
    }

    @include responsive(md) {
      font-size: 2rem;
    }

    @include responsive(lg) {
      font-size: 3.2rem;
    }
    @include responsive(xl) {
      font-size: 3.8rem;
    }
  }
}

.iconSet {
  animation: iconAnimation 2s forwards;
  span {
    font-size: size(sm);
    color: color(strong-pink);
    width: 100%;
    display: inline-block;
    text-align: center;

    @include responsive(xs) {
      font-size: size(xs);
    }
    @include responsive(sm) {
      font-size: size(xs);
    }
    @include responsive(lg) {
      font-size: size(sm);
    }
    @include responsive(xl) {
      font-size: size(md);
      margin: 10px;
    }
  }
}

@keyframes introAnimation {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes iconAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
