@import '/styles/base/base';

.border {
  margin: auto;
  padding: 1rem;
  width: 90%;
  height: 100%;
  border: 1px solid color(weak-pink);

  .introContainer {
    @include flexPosition($justCont: space-around, $alignItem: center);
  }

  .imgContainer {
    position: relative;
    width: 220px;
    height: 220px;

    @include responsive(xl) {
      width: 200px;
      height: 200px;
    }

    & > div {
      border-radius: 50%;
    }
  }

  .introRight {
    width: 60%;
  }

  .intro {
    font-family: $font-tomorrow;
    font-size: size(sm) * 1.1;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-weight: 200;
    margin-bottom: 1rem;
    transform: translateY(-30px);
    animation: introAnimation 1s forwards;
    @include responsive(xl) {
      font-size: size(sm);
    }
  }
  .skillContainer {
    @include flexPosition($justCont: center, $alignItem: center);
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    height: 50%;
    @include responsive(xl) {
      width: 90%;
    }
  }

  .iconContainer {
    font-size: 3.2rem;
    color: color(strong-pink);
    margin: 1.4rem 1.2rem 0.5rem 1.2rem;
    @include responsive(xl) {
      font-size: 2.4rem;
    }
    @include responsive(lg) {
      font-size: 2rem;
    }
  }
}

.iconSet {
  animation: iconAnimation 2s forwards;
  span {
    font-size: size(sm);
    color: color(strong-pink);
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

@keyframes introAnimation {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes iconAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
