@import '/styles/base/base';

.border {
  margin: auto;
  padding: 1rem;
  width: 90%;
  height: 100%;
  border: 1px solid color(weak-pink);
  position: relative;

  .msg {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-family: $font-tomorrow;
    font-weight: 100;
    color: color(strong-pink);
    font-size: size(sm);
  }

  .container {
    @include flexPosition($justCont: space-around, $alignItem: center);
    width: 100%;
    height: 94%;

    .heading {
      font-weight: 200;
      padding-bottom: 1.2rem;
      transform: translateY(-30px);
      animation: introAnimation 1s forwards;
    }

    .contactLeft {
      width: 40%;
      height: 100%;
    }
    .contactRight {
      width: 40%;
      height: 100%;
    }
  }

  .para {
    font-size: size(sm) * 1.4;
    font-family: $font-tomorrow;
    font-weight: 300;
    padding: 1rem 0;
    animation: introAnimation 1s forwards;

    .email {
      color: color(light-blue);
      display: inline-block;
      padding: 0.8rem;
      transition: transform 0.5s;
      &:hover {
        color: color(light-blue);
        color: color(strong-pink);
        transform: scale(1.1);
      }
    }
  }

  .icons {
    @include flexPosition($justCont: center, $alignItem: center);
    animation: introAnimation 1s forwards;
  }

  .icon {
    font-size: size(lg);
    color: color(light-blue);

    margin: 0.8rem 1rem;
    transition: transform 0.5s;

    &:hover {
      color: color(light-blue);
      color: color(strong-pink);
      transform: scale(1.2);
    }
  }
}

@keyframes introAnimation {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
