/*All component*/
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Navigation bar*/
.navbar {
  background-color: transparent;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  color: #fff;
}

/*When scrolled up*/
.navbarColorChange {
  background-color: #fff;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.changeLogoColor {
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

.changeUnderLine {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.navbar-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 100%;
  font-weight: bold;

  /* max-width: 1500px; */
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 14px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.fa-user {
  margin-left: 0.5rem;
  font-size: 4rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.changeUnderLine {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none; /*reset default css*/
  padding: 8px;
  height: 100%;
  position: relative;
}

/*When scrolled up*/
.linkLetterColorChange {
  color: #313f9f;
  display: flex;
  align-items: center;
  text-decoration: none; /*reset default css*/
  padding: 8px;
  height: 100%;
  position: relative;
}

.changeUnderLine::after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.5s;
  border-bottom: 2.5px solid #313f9f;
}

.changeUnderLine:hover::after {
  margin-left: 5px;
  width: 60%;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  transition: width 0.5s;
  border-bottom: 2.5px solid #fff;
}

.nav-item:hover::after {
  margin-left: 5px;
  width: 60%;
}

.fa-bars {
  color: #fff;
  font-size: xx-large;
  margin-top: 10px;
  margin-right: 5px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 765px) {
  /*drop down menu*/
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28vh;
    position: absolute;
    top: 120px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  /*when drop down menu is active*/
  .nav-menu.active {
    padding: 0;
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-left: 2.2rem;
  }

  .nav-item:hover::after {
    margin-left: 5px;
    width: 40px;
  }

  .nav-links {
    text-align: left;
    padding: 0.1rem;
    width: 100%;
    display: table;
  }

  .fa-user {
    margin-left: 1rem;
    font-size: 4rem;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .changeLogoColor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2.7rem;
  }

  .fa-times:focus,
  .fa-times:hover {
    animation: wobble 3s 1;
  }

  @keyframes wobble {
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(90deg);
    }
    75% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
}

/*Intro section*/
.nav-intro-section {
  margin: auto 0;
  padding: 0;
  height: 678px;
  width: 100%;
  background-image: url(../public/earth.jpg);
  background-size: cover;
}

.intro-section {
  margin: 40px 97.5px;
  padding: 0px 15px;
  text-align: center;
}

.intro-title {
  font-size: 72px;
  margin: 0px 0px 24px 0px;
  color: #fff;
}

.intro-title-mobile {
  display: none;
}

.intro-subtitle {
  margin: 0px 0px 20px 0px;
  color: #fff;
  font-size: 40px;
}

/* About section*/

.about-section {
  background-color: #f5f5f5;
  padding-top: 64px;
  color: #4e4e4e;
}

.about-wrapper {
  padding: 0px 68px 48px 68px;
  background-color: #f5f5f5;
  text-align: center;
}

.about-container {
  background-color: #fff;

  display: flex;
  justify-content: center;
  padding-top: 64px;
  /*shadow effect*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  min-height: auto;
}

.skills {
  margin: auto;
  width: 80%;
}

.skill_category {
  font-size: 20px;
  color: #1f1f1f;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 16px;
  margin-top: 20px;
  padding-top: 10px;
}
.skill_category::after {
  content: "";
  display: block;
  position: relative;
  width: 40%;
  border: 1px solid #313f9f;
  margin-top: 8px;
}

.skill-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.skill-name-left {
  margin-left: 20px;
}

.skill-percentage {
  margin-right: 20px;
}

.about-me {
  margin: auto;
  width: 80%;
  height: 100%;
  padding-left: 15px;
}

.title-left {
  font-size: 32px;
  text-align: left;
  color: #1f1f1f;
}

/*underline style*/
.title-left::after {
  content: "";
  display: block;
  position: relative;
  width: 30%;
  border: 1px solid #313f9f;
  margin-top: 8px;
}

.self-intro {
  margin-top: 20px;
  font-size: 20px;
  padding: 16px;
  text-align: left;
}

@media screen and (max-width: 765px) {
  /*parent element of about-countainer*/
  .about-wrapper {
    position: relative;
    text-align: center;
    margin: auto 0;
  }

  .about-container {
    height: 1550px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    position: relative;
    padding: 0 30px;
    justify-content: center;
    /*shadow effect*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .skills {
    position: absolute;
    top: 0;
    margin: 0px 20px;
    padding-top: 20px;
  }

  .about-me {
    position: absolute;
    top: 700px;
    margin: 10px 20px;
    padding-top: 20px;
    height: 600px;
  }
}

/* Portfolio Section */
.portfolio-section {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}

.portfolio-title {
  padding: 0px 16px;
}

h3 {
  font-size: 48px;
  padding: 0;
  margin-bottom: 8px;
}

.portfolio_title > p {
  font-size: 16px;
  color: #4e4e4e;
}

.portfolio_title > p::after {
  content: "";
  display: block;
  position: relative;
  left: 45%;
  width: 10%;
  border: 2px solid #313f9f;
  margin-top: 16px;
}

.cards {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 80px;
  margin-right: 80px;
}

.card {
  flex-grow: 1.5;
  padding: 2px;
}

/* Contact section */
.contact-section-box {
  background-image: url(../public/earth.jpg);
}

.btn-style {
  text-align: center;
}

.send-btn {
  background-color: #303f9f;
  color: white;
  padding: 6px 18px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 545;
  font-size: 0.875rem;
}
