/*All component*/
* {
  /* font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Raleway", sans-serif;
}
