@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;700&family=Orbitron:wght@400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Tomorrow:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import '/styles/abstracts/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none; //
}

html {
  font-family: $font-orbitron;
}

body {
  background-color: color(indigo-blue);
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}
