@import '/styles/base/base';

.projectBorder {
  padding: 0.2rem;
  width: 90%;
  height: fit-content;
  border: 1px solid color(weak-pink);
  margin: 40px auto;

  @include responsive(sm) {
    width: 70%;
  }
  @include responsive(md) {
    width: 80%;
  }

  .projectContainer {
    @include flexPosition($justCont: center, $alignItem: center);
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

    @include responsive(md) {
      flex-direction: row;
    }
  }
}
