@import '/styles/base/base';

.border {
  margin: auto;
  padding: 1rem;
  width: 90%;
  height: 100%;
  border: 1px solid color(weak-pink);

  .container {
    @include flexPosition($justCont: space-around, $alignItem: center);
    width: 100%;
    height: 75%;
    position: relative;
  }

  .imgContainer {
    position: relative;
    width: 40%;
    height: 400px;
  }

  .rightContainer {
    width: 60%;
    height: 90%;
    padding: 1rem 3rem;
    @include flexPosition($justCont: space-around, $alignItem: flex-start);
    flex-direction: column;
  }

  h4 {
    font-weight: 300;
    font-size: size(sm) * 1.4;
    color: color(weak-pink);
    position: absolute;
    top: -3rem;
    right: 0rem;

    & > span {
      transition: all 0.2s;
      &:hover {
        color: color(strong-pink);
        transform: scale(1.1);
      }
    }
  }

  h3 {
    color: color(light-blue);
    font-size: size(md);
    padding: 0 0 1rem 0;
  }

  .tech {
    background-color: color(strong-pink);
    padding: 0.2rem 0.4rem;
    color: color(white);
    border-radius: 3px;
    margin: 0 0.2rem;
  }
  .about {
    font-family: $font-tomorrow;
    font-size: size(sm) * 1.2;
    font-weight: 100;
  }
}

.designs {
  @include flexPosition($justCont: space-around, $alignItem: flex-start);
}

.color {
  width: 60px;
  height: 60px;
  background-color: blue;
  display: inline-block;
  border-radius: 50%;
}

.colorSet {
  @include flexPosition($justCont: space-around, $alignItem: center);
  flex-direction: column;
  margin: 0 0.6rem;
  font-family: $font-tomorrow;
  font-weight: 200;

  & > p {
    padding: 0.6rem 0;
  }
}

.typoName {
  font-size: size(md);
}
.typoSet {
  @include flexPosition($justCont: space-around, $alignItem: flex-start);
  flex-direction: column;
  margin: 0 0.6rem;

  & > p {
    padding: 0.4rem;
  }
}
